doctype html
html
  head
    link(rel="stylesheet" href="../font-awesome.min.css")
    script(type="text/javascript" src="../bootstrap.min.js")
    link(rel="stylesheet" href="../bootstrap.min.css")
    title 401 Unauthorize Access
    style.
      h1{
        margin-top:10%;
      }
  body
    include ./header
    h1(align="center") 401 Unauthorized Acess!
    h3(align="center") What are you doing here?!
