doctype html
html
  head
    include ./imports
    include ./styles
    title 401 Unauthorize Access
  body
    include ./header
    h1.cool.header(align="center") 401 Unauthorized Access!
    h3.cool.header(align="center") What are you doing here?!
