doctype html
html
  head
    include ./imports
    include ./styles
    title 401 Not Found
  body
    include ./header
    h1.cool.header(align="center") 404 invalid page id, we are sorry :'(
    h3.cool.header(align="center") Just kidding... We aren't sorry, get your id's right!
