doctype html
html
  head
    include ./imports
    title MET and BI Portfolio
    style.
      h1{
        margin-top: 3%;
      }
  body
    include ./header
    h1.text-primary(align="center") MET and BI Portfolio
    br
    br
    div.row
      div.col-md-6
        div(align="center")
          h2.text-default
            b.
              Client or Visitor?
          h3.text-default View Students portfolios summary
          a(href="/students")
            button.btn.btn-lg.btn-primary View
      div.col-md-6
        div(align="center")
          h2.text-default
            b.
               Student?
          a(href="/students/login")
            button.btn.btn-lg.btn-primary Login
          h4 OR
          a(href="/students/register")
            button.btn.btn-lg.btn-primary Register
