doctype html
html
  head
    include ./imports
    include ./styles
    title Reset Pass Fallback
  body
    include ./header
    h1.cool.header-blue(align="center") Password Reset Fallback
    h3.cool(align="center") An email should be sent to #{email}
