doctype html
html
  head
  include ./imports
  include ./styles
    title Student Login Page
    style.
      input[type="radio"]{
        margin: 0 5px 0 0
      }
      .center-block{
        float: none;
        position:relative;
      }
      .form-inline{
        margin-left:130px;
      }
      @media all and (max-width: 600px) {
        .form-inline{
          margin-left:200px;
        }
      }
      #or{
        margin-top:1%;
        margin-right:1%;
      }

  body
    include ./header
    div(align="center")
      h1.cool.head-blue Student Login
      h2.cool Please enter your login details below
      br
      if(type=="error")
       h3(class="text-danger") #{message}
      form(action='/students/login' method='POST')
        div(class="form-group col-md-3 center-block")
          label(for="username") Username
          input(name="username" type="text" class="form-control" style="padding:0 5 !important"  required)
        div(class="form-group col-md-3 center-block")
          label(for="password") Password
          input(name="password" type="password" class="form-control" style="padding: 0 5 !important" required)
        div(class="form-inline" )
          button(class="btn btn-primary" id="login" type="submit") Login
          a(href="/students/forgot-password") Forgot your password?
        h4(id="or")
          b.
            OR
      a(id="register" href="/students/register")
        button(class="btn btn-info") Register
