doctype html
html
  head
    include ./imports
    include ./styles
    title Invalid Password Reset Lsink
  body
    include ./header
    h1.cool.header(align="center" style="color:red") Invalid password reset link
    h2.cool(align="center") Wrong reset link or link expired
