doctype html
html
  head
    include ./imports
    title #{student.username}'s Page
    style.
      h1{
        margin-top: 3%;
      }
  body
    include ./header
    h1(align="center") #{student.username}'s Page
    h3(align="center") It seems you have no portfolio
    br
    div(align="center")
      button(class="btn btn-lg btn-primary") Create One?
