doctype html
html
  head
    include ./imports
    title #{student.username}'s Page
    style.
      h1{
        margin-top: 3%;
      }
  body
    include ./header
    h1(align="center") #{student.username}'s Page
    //- if(session)
    //-   h3(align="center") It seems you have no portfolio
    //- else
    //-   h3(align="center") The student has no portfolio yet
    br
    if(session)
      div(align="center")
        a(href="/students/"+student.id+"/create-portfolio")
          button(class="btn btn-lg btn-primary") Create One?
