doctype html
html
  head
    include ./imports
    title Create Portfolio
    style.
      #head{
        margin-top:3%;
      }

      .center-block{
        float: none;
      }
      #button{
        margin-left: 5%;
      }

  body
    include ./header
    div(align="center")
      h1(class="text-primary" id="head") Create Portfolio
      h2 Please enter portfolio details below
      br
      form(action="/students/"+student.id+'/create-portfolio' enctype="multipart/form-data" method='POST')
        div(class="form-group col-md-3 center-block")
          label(for="file") Profile Picture
          input(name="files" type="file")
        hr
        h3 Please provide details of one of your works
        div(class="form-group col-md-3 center-block")
          label(for="work_name") Name
          input(name="work_name" type="text" class="form-control" required)
        div(class="form-group col-md-3 center-block")
          label(for="file") Picture
          input(name="files" type="file")
        div(class="form-group col-md-3 center-block")
          label(for="repo_url") Repo URL
          input(name="repo_url" type="url" class="form-control" required)
        div(class="form-group col-md-3 center-block")
          label(for="link") Link to Project
          input(name="link" type="url" class="form-control" required)
        br
        button(class="btn btn-primary" type="submit") Create
